[[!meta stylesheet="css/homepage" rel="Homepage stylesheet" title="Homepage stylesheet"]]

<div id="callingcard" class="card">
  <img alt="Tom's hat" src="img/pink_hat_icon-200.png" />
  <a rel="me" href="">thomas levine</a>
  <a rel="me" href="mailto:_@thomaslevine.com">_@thomaslevine.com</a>
  <blockquote><code>pip install <a href="http://pypi.python.org/pypi/tlevine">tlevine</a> && tlevine</code></blockquote>
  <p><a href="!/about/">?</a></p>
  <p>Below are some things I've done, grouped rather arbitrarily into boxes of two to five things. <!--Go <a href="!/jobs">here</a> if you want to hire some computer/dada work.--></p>
</div>

<div id="boxes">
  <div class="card">
    <h2>surveil me</h2>
    <ul>
      <li><a href="http://facebook.com/perluette" rel="me">facebook</a>
      <li><a href="https://twitter.com/thomaslevine" rel="me">twitter</a>
      <li><a href="https://www.linkedin.com/in/tlevine" rel="me">spam bait</a>
      <li><a href="https://plus.google.com/112237825767532686869" rel="me">google</a>
    </ul>
  </div>
  <div class="card">
    <h2>translating</h2>
    <ul>
      <li><a href="!/parsing-pdfs/">pdfs</a></li>
      <li><a href="!/r-spells-for-data-wizards/">r</a></li>
      <li><a href="!/web-sites-to-data-tables-in-depth/">websites</a></li>
    </ul>
  </div>
  <div class="card">
    <h2>computer</h2>
    <ul>
      <li><a href="!/street-sign-protocol/">protocols</a></li>
      <li><a href="!/beaglebone-power/">power</a></li>
    </ul>
  </div>
  <div class="card">
    <h2>communication</h2>
    <ul>
      <li><a href="!/making-your-personal-website/">about you</a></li>
    </ul>
  </div>
  <div class="card">
    <h2>serious</h2>
    <ul>
      <li><a href="!/mix-data-scraping/">microfinance</a>
      <li><a href="http://occupydatanyc.org/2013/03/14/external-stresses-mediate-an-association-between-negative-perception-of-activism-and-a-decision-never-to-participate/">occupy</a>
      <li><a href="!/nyc-crime-map/">crime</a></li>
    </ul>
  </div>
  <div class="card">
    <h2>stories</h2>
    <ul>
      <li><a href="http://treasury.io">treasury</a>
      <li><a href="scarsdale/">scarsdale</a>
    </ul>
  </div>
  <div class="card">
    <h2>silly</h2>
    <ul>
      <li><a href="http://deadpeoplebornonmybirthday.thomaslevine.com">dead people</a>
      <li><a href="https://github.com/tlevine/hipstogram">hipstogram</a>
      <li><a href="http://pinterest.com/perluette/earthmoving-equipment/">pinterest</a>
    </ul>
  </div>
  <div class="card">
    <h2>hax</h2>
    </ul>
      <li><a href="https://gist.github.com/1231284">web forms</a></li>
      <li><a href="https://github.com/tlevine/unwatermark">unwatermark</a></li>
    </ul>
  </div>
  <div class="card">
    <h2>shell</h2>
    <ul>
      <li><a href="https://github.com/scraperwiki/urchin">urchin</a>
      <li><a href="https://blog.scraperwiki.com/2012/12/how-to-test-shell-scripts/">alternatives</a>
      <li><a href="https://github.com/tlevine/profile">profile</a>
    </ul>
  </div>
  <div class="card">
    <h2>open data</h2>
    <ul>
      <li><a href="open-data">meta</a></li>
      <li><a href="!/socrata-products">products</a></li>
      <li><a href="!/open-data-licensing/">licensing</a></li>
      <li><a href="!/open-data-is-all-about-money/">disillusion</a></li>
    </ul>
  </div>
  <div class="card">
    <h2>searching</h2>
    <ul>
      <li><a href="!/searching-data-tables-better/">introduction</a></li>
      <li><a href="http://openprism.thomaslevine.com">openprism</a></li>
      <li><a href="https://pypi.python.org/pypi/pluplusch/">pluplusch</a></li>
      <li><a href="http://pypi.python.org/pypi/commasearch">comma</a></li>
    </ul>
  </div>
  <div class="card">
    <h2>files</h2>
    <ul>
      <li><a href="http://pypi.python.org/pypi/vlermv">vlermv</a></li>
      <li><a href="!/downloading-binary-files-is-not-magic/">files</a></li>
    </ul>
  </div>
  <div class="card">
    <h2>letterpress</h2>
    <ul>
      <li><a href="!/jello-wrestling">wrestling</a></li>
      <li><a href="http://cornell.freeculture.org/2009/08/30/a-new-semester-meeting-thursday-september-3/">free culture</a></li>
      <li><a href="!/pie-π/">pie π</a></li>
      <li><a href="!/print-formaldehyde/">csv</a></li>
    </ul>
  </div>
  <div class="card">
    <h2>installations</h2>
    <ul>
      <li><a href="!/pbdq">pb dq</a></li>
      <li><a href="!/gullible">gullible</a></li>
      <li><a href="!/jaywalking">jaywalking</a></li>
    </ul>
  </div>
  <div class="card">
    <h2>music</h2>
    <ul>
      <li><a href="!/christmas-gifts">christmas</a></li>
      <li><a href="http://fms.csvsoundsystem.com">fed spending</a></li>
      <li><a href="!/twinkle/">twinkle</a></li>
      <li><a href="https://pypi.python.org/pypi/sheetmusic">sheetmusic</a></li>
    </ul>
  </div>
  <div class="card">
    <h2>gastronomification</h2>
    <ul>
      <li><a href="!/geom_doner/">geom_döner</a></li>
      <li><a href="http://small.dada.pink/gastronomification-big-data-talk/hacks-hackers-berlin-2014-08/data-visualization-needs-to-die.pdf">why</a></li>
    </ul>
  </div>
  <div class="card">
    <h2>toilets</h2>
    <ul>
      <li><a href="!/risley-toilets">dorm</a></li>
      <li><a href="!/hovering-cycle">hovering</a></li>
    </ul>
  </div>
  <div class="card">
    <h2>numbers</h2>
    <ul>
      <li><a href="!/variables">variables</a></li>
      <li><a href="!/table-words">data tables</a></li>
      <li><a href="!/statistics-with-doodles-2014-03/">statistics</a></li>
      <li><a href="!/higher-power-distance-measures">distances</a></li>
    </ul>
  </div>
  <!--
  <div class="card">
    <h2>operations</h2>
    <ul>
      <li><a href="computers">computers/</a></li>
      <li><a href="schedule">schedule/</a></li>
      <li><a href="stuff">/stuff/</a></li>
    </ul>
  </div>
  -->
</div>
