<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/static/style.css" type="text/css" />
    {% include 'meta.html' %}
  </head>
  {% block bodytag %}<body>{% endblock %}
    <nav>
      {% block navlinks %}
      {% include 'dadaportal/navlinks.html' %}
      {% endblock %}
      {% block top_search %}
      {% include 'dadaportal/simple-search.html' %}
      {% endblock %}
    </nav>
    <main role="main">
      {% block base %}{% endblock %}
    </main>
    {% include 'tracking/track.html' %}
  </body>
</html>
