/* Base formatting */
body {
  font: normal 18px 'Nimbus Sans', Helvetica, Arial, sans-serif;
  line-height: 24px;
  width: 100%;
  height: 100%;
  text-align: inherit;
  position: relative;
}
nav, html, body, input,
ul, li,
form,
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  border-style: none;
}
a, h1, h2, h3, h4, h5, h6 {
  text-decoration: none;
  page-break-after: avoid;
  margin-top: 0.5em;
  margin-bottom: 0;
  font-weight: inherit;
}
a:hover {
  text-decoration: underline;
}
h1, h2 { font-size: 2em; font-weight: bold; }
h3 { font-size: 1.5em; font-weight: bold; }
h4 { font-size: 1em; font-weight: bold; }
p {
  margin-top: 0.5em;
  margin-bottom: 0;
}
pre {
  white-space: pre-wrap;
}
pre, blockquote, .line-block /* rst class */ {
  padding: 0.5em;
  margin: 1em;
}
blockquote > p {
  margin: 0;
}

/* Tables */
col { width: auto; }
table {
  border-left: none;
  border-right: none;
  border-top: solid 2px;
  border-bottom: solid 2px;
}
td { border: none; }
table tr:first-child th, table tr:first-child td { border-bottom: solid 1px; }

/* Nav bar */
nav ul {
  display: inline-block;
}
nav li {
  display: inline-block;
  margin-top: 0.75em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
nav .search-form {
  display: inline-block;
  float: right;
}

/* Root page */
#index-main .search ul {
  text-align: center;

}
#index-main .search li {
  display: inline;
  font-size: 16px;
}
#index-main .search {
  height: 120px;
  position: absolute;
  top: 20%;
  right: 20%;
}
#index-main .search h1 {
  text-align: center;
  height: 36px;
  margin-top: 16px;
  margin-bottom: 4px;
}

/* Article styles */
article {
  margin-left: auto;
  margin-right: auto;
}
article img {
  width: 100%;
}
article ul {
  margin-top: 0.5em;
  margin-left: 2em;
}
article dt { float: left; width: 90px; }
article dt:after { content: ': '; }
article dd { margin-left: 90px; }

/* Search form */
.search-form input[type=text] {
  padding-left: 8px; /* Doesn't affect width */
  width: 263px; /* should be 264, but I left room for the fudge factor */
}
.search-form input[type=submit] {
  width: 72px;
}

/* Colors and other matching styles */
a, h1, h2, h3, h4, h5, h6 {
  color: #fe57a1;
}
body {
  color: #888;
  background-color: #111;
}
nav {
  border-bottom: solid 1px #666;
}
.search-form input {
  border: solid 1px #666;
}
pre, blockquote, .line-block /* rst class */ {
  color: #BBB;
  background-color: #333;
}
#index-main .search {
  background-color: white;
}
strong { color: white; font-weight: normal; }

nav, .search-form input {
  height: 42px;
}
.search-form, #index-main .search {
  width: 340px;
}

/* Responsive widths */
@media screen {
  article {
    width: 340px;
  }
}
@media screen and (min-width: 540px) {
  article {
    width: 520px;
  }
  .search-form, #index-main .search {
    width: 400px;
  }
  .search-form input[type=text] {
    width: 323px; /* should be 324, but I left room for the fudge factor */
  }
}
@media screen and (min-width: 720px) {
  article { width: 700px; }
  .search-form, #index-main .search {
    width: 480px;
  }
  .search-form input[type=text] {
    width: 403px; /* should be 404, but I left room for the fudge factor */
  }
}


@media print {
  nav, footer { display: none; }
  a, p, h1, h2, h3, h4, h5 { color: black !important; }
}
