@font-face {
  font-family: 'Blackout';
  font-weight: 800;
  src: url(/static/fonts/blackout/blackout_two_am-webfont.woff) format('woff');
}
@font-face {
  font-family: 'Blackout';
  font-weight: 600;
  src: url(/static/fonts/blackout/blackout_midnight-webfont.woff) format('woff');
}
@font-face {
  font-family: 'Blackout';
  font-weight: 400;
  src: url(/static/fonts/blackout/blackout_sunrise-webfont.woff) format('woff');
}

@font-face {
  font-family: 'Fanwood';
  font-style: normal;
  font-weight: 400;
  src: url(/static/fonts/fanwood/fanwood-webfont.woff) format('woff');
}
@font-face {
  font-family: 'Fanwood';
  font-style: italic;
  font-weight: 400;
  src: url(/static/fonts/fanwood/fanwood-italic-webfont.woff) format('woff');
}
@font-face {
  font-family: 'Fanwood';
  font-style: normal;
  font-weight: 500;
  src: url(/static/fonts/fanwood/fanwood_text-webfont.woff) format('woff');
}
@font-face {
  font-family: 'Fanwood';
  font-style: italic;
  font-weight: 500;
  src: url(/static/fonts/fanwood/fanwood_text-italic-webfont.woff) format('woff');
}

@font-face {
    font-family: 'Junction';
    src: url(/static/fonts/junction/junction-bold.woff) format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Junction';
    src: url(/static/fonts/junction/junction-regular.woff) format('woff');
    font-weight: 400;
}
@font-face {
    font-family: 'Junction';
    src: url(/static/fonts/junction/junction-light.woff) format('woff');
    font-weight: 300;
}

@font-face {
    font-family: 'Linden Hill';
    src: url(/static/fonts/linden-hill/LindenHill-webfont.woff) format('woff');
    font-style: normal;
}
@font-face {
    font-family: 'Linden Hill';
    src: url(/static/fonts/linden-hill/LindenHill-Italic-webfont.woff) format('woff');
    font-style: italic;
}

@font-face {
	font-family: 'Ostrich Sans';
	src: url('ostrich-sans-black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'Ostrich Sans';
	src: url('ostrich-sans-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Ostrich Sans';
	src: url('ostrich-sans-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Ostrich Sans';
	src: url('ostrich-sans-light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Ostrich Sans Dashed';
	src: url('ostrich-sans-dashed.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Ostrich Sans Rounded';
	src: url('ostrich-sans-rounded.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Ostrich Sans Inline';
	src: url('ostrich-sans-inline-regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Ostrich Sans Inline';
	src: url('ostrich-sans-inline-italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
  font-family: 'Sorts Mill Goudy';
  font-style: normal;
  src: url(/static/fonts/sorts-mill-goudy/GoudyStM-webfont.woff) format('woff');
}
@font-face {
  font-family: 'Sorts Mill Goudy';
  font-style: italic;
  src: url(/static/fonts/sorts-mill-goudy/GoudyStM-Italic-webfont.woff) format('woff');
}

/* Base formatting */
body {
  font: 400 18px Junction, serif;
  line-height: 24px;
  width: 100%;
  height: 100%;
  text-align: inherit;
  position: relative;
}
nav, html, body, input,
ul, ol, li,
form,
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  border-style: none;
}
a, h1, h2, h3, h4, h5, h6 {
  text-decoration: none;
  page-break-after: avoid;
  margin-top: 0.5em;
  margin-bottom: 0;
  font-weight: inherit;
}
a:hover {
  text-decoration: underline;
}
h1, h2 { font-size: 2em; font-weight: bold; }
h3 { font-size: 1.5em; font-weight: bold; }
h4 { font-size: 1em; font-weight: bold; }
p {
  margin-top: 0.5em;
  margin-bottom: 0;
}
pre {
  white-space: pre-wrap;
}
pre, blockquote, .line-block /* rst class */ {
  padding: 0.5em;
  margin: 1em;
}
blockquote > p {
  margin: 0;
}

/* Tables */
col { width: auto; }
table {
  border-left: none;
  border-right: none;
  border-top: solid 2px;
  border-bottom: solid 2px;
}
td { border: none; }
table tr:first-child th, table tr:first-child td { border-bottom: solid 1px; }

/* Nav bar */
nav ul {
  display: inline-block;
}
nav li {
  display: inline-block;
  margin-top: 0.75em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
nav .search-form {
  display: inline-block;
  float: right;
}

/* Root page */
#index-main .search ul {
  text-align: center;

}
#index-main .search li {
  display: inline;
  font-size: 16px;
}
#index-main .search {
  height: 120px;
  position: absolute;
  top: 0;
  right: 0;
}
#index-main .search h1 {
  text-align: center;
  height: 36px;
  margin-top: 16px;
  margin-bottom: 4px;
}

/* Article styles */
article {
  margin-left: auto;
  margin-right: auto;
}
article img {
  width: 100%;
}
article ul, article ol {
  margin-top: 0.5em;
  margin-left: 1.5em;
}
article dt { float: left; width: 90px; }
article dt:after { content: ': '; }
article dd { margin-left: 90px; }

/* Mail styles */
section.thread > ul ul {
  margin-left: 1em;
  margin-top: 0;
}
section.thread > ul {
  margin-left: 0;
}
section.thread li {
  margin-top: 0.25em;
}
section.thread > ul > ul > ul > ul > ul > ul > ul > ul > ul > ul li a {
  display: block; /* Don't try wrapping after this deep. */
}
section.reply p {
  text-align: center;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
section.reply strong {
  text-decoration: none;
}

/* Search form */
.search-form input[type=text] {
  padding-left: 8px; /* Doesn't affect width */
  width: 263px; /* should be 264, but I left room for the fudge factor */
}
.search-form input[type=submit] {
  width: 72px;
}

/* Colors and other matching styles */
a, h1, h2, h3, h4, h5, h6 {
  color: #fe57a1;
}
body {
  color: #888;
  background-color: #111;
}
nav {
  border-bottom: solid 1px #666;
}
.search-form input {
  border: solid 1px #666;
}
pre, blockquote, .line-block /* rst class */ {
  color: #BBB;
  background-color: #333;
}
section.reply p {
  background-color: #333;
}
#index-main .search {
  background-color: white;
}
strong { color: white; font-weight: normal; }

nav, .search-form input {
  height: 42px;
}
.search-form, #index-main .search {
  width: 340px;
}

/* Responsive widths */
@media screen {
  article {
    width: 340px;
  }
}
@media screen and (min-width: 540px) {
  #index-main .search {
    top: 20%;
    right: 20%;
  }
  article {
    width: 520px;
  }
  .search-form, #index-main .search {
    width: 400px;
  }
  .search-form input[type=text] {
    width: 323px; /* should be 324, but I left room for the fudge factor */
  }
}
@media screen and (min-width: 720px) {
  article { width: 700px; }
  .search-form, #index-main .search {
    width: 480px;
  }
  .search-form input[type=text] {
    width: 403px; /* should be 404, but I left room for the fudge factor */
  }
}


@media print {
  nav, footer { display: none; }
  a, p, h1, h2, h3, h4, h5 { color: black !important; }
}
