<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Dada Portal | {{title|default:'Thomas Levine'}}</title>
    <link rel="stylesheet" href="/static/style.css" type="text/css" />
    {% include 'meta.html' %}
  </head>
  {% block bodytag %}<body>{% endblock %}
    <nav>
      {% block navlinks %}
      {% include 'dadaportal/navlinks.html' %}
      {% endblock %}
      {% block top_search %}
      {% include 'dadaportal/simple-search.html' %}
      {% endblock %}
    </nav>
    <main role="main">
      {% block base %}{% endblock %}
    </main>
    {% if hit_id %}
    <script>{% include 'tracking/followup.js' %}</script>
    <noscript><img style="border: 0;" src="{% url 'tracking/followup-img' %}?hit_id={{hit_id}}" /></noscript>
    {% endif %}
  </body>
</html>
