<html>
  <head>
    <title>Dada Portal | {{title|default:'Thomas Levine'}}</title>
    <link rel="stylesheet" href="/static/style.css" type="text/css" />
  </head>
  {% block bodytag %}<body>{% endblock %}
    <nav id="navigation">
      <ul>
        {% block homelink %}<li><a href="/">Home</a></li>{% endblock %}
        {% comment %}
        <li><a href="/schedule/">Schedule</a></li>
        <li><a href="/!/about/">About</a></li>
        {% endcomment %}
      </ul>
      {% block top_search %}
      {% include 'search-form.html' %}
      {% endblock %}
    </nav>
    {% block base %}{% endblock %}
    {% if hit_id %}<script>{% include 'track.js' %}</script>{% endif %}
  </body>
</html>
