{% extends 'base.html' %}
{% block top_search %}{% endblock %}

{% block bodytag %}
<body id="index-main" style="background-image: url(static/tom-pictures/2014-12-11.jpg);">
{% endblock %}
{% block navlinks %}{% endblock %}

{% block base %}
<div class="search">
  <h1>Dada Portal</h1>
  {% include 'dadaportal/search-form.html' %}
  <ul>
    <li><a href="{% url 'dadaportal/popular' %}">Popular articles</a></li> &bull;
    <li><a href="{% url 'search' %}?q=date:1D..&amp;hide_emails=">Recent updates</a></li>
  </ul>
</div>
{% endblock %}
