{% extends 'base.html' %}

{% if message %}
<div class="heading">
  <h3>{{message.subject}}</h3>
  <p>From <a href="/@/{{message.from}}">{{message.from}}</a></p>
  <p>To <a href="/@/{{message.to}}">{{message.to}}</a></p>
  <p>
    {{message.weekday}},
    <a href="/@/date:{{message.notmuchmonth}}..{{message.notmuchmonth}}">{{message.month}}</a>
    <a href="/@/date:{{message.notmuchday}}..{{message.notmuchday}}">{{message.day}}</a>,
    {{message.year}},
    at {{message.time}}
  </p>
  <br/>
  <p><a href="{{message.mailto}}" target="_blank">Reply to this message</a></p>
</div>
<article class="body">{{body}}</article>
<div class="attachments">
  <h3>Attachments</h3>
  <ol>
  {% for n, description in parts %}
    <li><a href="{{n}}">{{description}}</a></li>
  {% endfor %}
  </ol>
</div>
{% endif %}

<div class="threads">
  {% if message %}
  <h3>Thread</h3>
  {% endif %}
  <ul>
    {% for thread in threads %}
    aoeu
    <ul>
    {% for message in thread %}
      {% include 'mail-subthread.html' %}
    {% endfor %}
    </ul>
    {% endfor %}
  </ul>
  {% if threads|length == 0 %}
  <em>No emails match "{{q}}".</em>
  {% elif threads|length == 100 %}
  <em>Only the first 100 threads are displayed; refine your search to see more results.</em>
  {% endif %}
</div>
