{% extends 'base.html' %}
{% block base %}
<article>
{% if results == None %}
{% block introduction %}
<img src="/static/search-arrow.png"
     alt="Search bar is at the top-right of the screen." />
{% endblock %}
<p style="text-align: center;">
  Search Tom's published articles and published mail.
</p>
{% else %}
<p>
  Here are the matches for &ldquo;<strong>{{q}}</strong>&rdquo; among
  {% if hide_emails %}
  articles, only. You can <a href="/+/?q={{q}}">include mails too</a>.
  {% else %}
  articles and emails. You can <a href="/+/?q={{q}}&amp;hide_emails=">hide the mails</a>.
  {% endif %}
</p>
{% endif %}

{% if results|length > 0 %}
<ul class="results">
  {% for result in results %}
  <li><a href="{{result.href}}">{{result.title}}</a></li>
  {% endfor %}
</ul>
{% endif %}

{% if results|length == 100 %}
<em>Only the first 100 results are displayed; refine your search to see more results.</em>
{% endif %}

{% if results|length == 0 %}
<em class="results">No results</em>
{% endif %}
</article>
{% endblock %}
