{% extends 'base.html' %}
{% block base %}
  <h1>Published emails</h1>
  <section>
    <p>
      Emails are usually private by convention, but I sometimes publish
      them when they don't need to be private. Here are some emails.
    </p>
  </section>
  <section>
  {% if messages|length > 0 %}
  <ul>
    {% for message in messages %}
    <li>
      <a href="{% url 'mail/message' message.message_id %}">{{message.subject}}</a>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <center>No mail</center>
  {% endif %}
  </section>
{% endblock %}
