{% extends 'base.html' %}
{% block base %}
<article>
  <section class="message">
    <h1>{{subject}}</h1>
    <dl>
      <dt>From</dt><dd>{{from}}</dd>
      <dt>To</dt><dd>{{to}}</dd>
      <dt>Date</dt><dd>{{datetime}}</dd>
    </dl>
    <section class="email-body">{{body|urlize}}</section>
  </section>
  <section class="attachments">
    <h3>Attachments</h3>
    <ol>
      {% for i, description in parts %}
      <li><a href="{{i}}">{{description}}</a></li>
      {% empty %}
      No attachments
      {% endfor %}
    </ol>
  </section>
  {% comment %}
  <section class="thread">
    <h3>Thread</h3>
    <ul>
      {% for thread in threads %}
      <ul>
      {% for message in thread %}
        {% include 'mail-subthread.html' %}
      {% endfor %}
      </ul>
      {% endfor %}
    </ul>
  </section>
  {% endcomment %}
  {% include 'search/more_like_this.html' %}
</article>
{% endblock %}
